/* Header General */

.header {
  background: #9582ab;
  background: linear-gradient(
    90deg,
    rgba(171, 129, 230, 1) 0%,
    rgba(215, 174, 252, 1) 77%,
    rgba(246, 220, 250, 1) 100%
  );

  display: flex;
  position: relative;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Header First Section */

.headerTitle {
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 20px;
  background: #fff;
  color: #d3985f;
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
  flex: 2;
}

.headerTitle i {
  font-size: 30px;
  padding-top: 10px;
}

/* Header middle */

.headerId {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 5;
}

#pokeball {
  height: 30px;
  width: 30px;
}

/* header Last */

.headerUser {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
  flex: 1;
  padding: 0 20px;
}

#userImage {
  height: 45px;
  width: 45px;
  border-radius: 8px;
}
