/* Main Pokemon Section */

.pokemonInfo {
  display: flex;
  flex-direction: column;
  flex: 3;
  align-items: center;
  background: #ffffff;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(203, 185, 247, 1) 53%
  );
}

/* Heading */

.pokemonHeading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
  height: 60px;
  border-bottom: 4px #483374 solid;
  width: 80%;
  font-size: 24px;
}

.pokemonName {
  font-weight: 600;
}

/* Pokemon view */

.pokemonVisuals {
  display: flex;
  flex: 3;
  justify-content: space-around;
  align-items: center;

  width: 100%;
}

/* Stats */

.pokemonStats {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.statCard {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  background: #9e81d5;
  width: 180px;
  height: 100px;
}

.statHeading {
  margin: 0;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  font-size: 24px;

  font-weight: bold;
}

.stat {
  background: #fff;
  margin: 0px;
  color: #333;
  padding: 15px;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-self: flex-end;
  justify-content: end;
  width: 100%;
}

/* Pokemon Image */

.pokemonView {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btnIcon {
  height: 50px;
  width: 80px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
}

.arrowKeyBox-left {
  border: #333 2px solid;
  padding: 10px;
  border-radius: 16px 2px 2px 2px;
  background: #f5f5f5;
}

.arrowKeyBox-right {
  border: #333 2px solid;
  padding: 10px;
  border-radius: 2px 16px 2px 2px;
  background: #f5f5f5;
}

#pokemonSprite {
  /* image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges; */
  width: 400px;
  height: 400px;
}

/* Pokemon Details / Abilities */

.abilityDefinitions {
  display: flex;
  flex-direction: column;
  flex: 2;
  width: 90%;
  align-items: center;
}

.abilityMenu {
  display: flex;
  align-items: center;
}

.abilityText {
  width: 75%;
  height: 150px;
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  overflow-x: scroll;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.abilities {
  display: flex;
  justify-content: center;
}

#abilityList {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 10px;
}

#abilityList .abilityTag {
  list-style: none;
  display: flex;
  font-weight: bold;
  padding: 10px;
  border: #333 2px solid;
  border-radius: 4px;
  background: #f5f5f5;
  cursor: pointer;
}

#abilityList .abilityTag.active {
  background: #ffcc66;
}

/* Side Menu - Pokedex */

.pokedex {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: #fff;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: 4px;
  justify-content: flex-start;
  align-items: center;
}

.sideMenuHeader {
  font-size: 24px;
  font-weight: 500;
  border-bottom: #7cbcb2 solid 3px;
  width: 90%;
  text-align: center;
}

.pokemonList {
  margin: 10px 5px;
  width: 90%;
  overflow-y: scroll;
}

.pokemonItem {
  display: flex;
  border-radius: 50px;
  background-color: #ffac04;
  height: 80px;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
  padding: 5px;
  border: thin red solid;
}

.listNumber {
}

.listName {
  font-weight: bold;
}

.listImg {
  height: 60px;
  width: 60px;
  padding: 0;
}
